body{
    background: url(/public/img/olov.png) no-repeat,url(/public/img/olov2.png) 100% 0 no-repeat  ,#191411;
    background-size: 38%, 30%;
    color: #ffffff;
    

}




/* Navbar */


.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.navbar-navbar{
    display: flex;
    gap: 30px;
}
.link-nav1{
    text-decoration: none;
    color: #ffffffb9;
}
.link-nav{
    text-decoration: none;
    color: #ffffff;
}
.dollor{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    border-radius: 8px;
}







/* Home */
.home{
    height: 86vh;
    background: url(/public//img/Burger.png) 370px 0px no-repeat;
    background-size: 70%;
    overflow: hidden;
}
.home-cont{
    width: 536px;
    height: 358px;
    margin-left: 200px;
    margin-top: 50px;
}
.home-text{
    font-size: 80px;
    
}
.button1{
    width: 100px;
    height: 30px;
    border: none;
    color: #ffffff;
    border-radius: 15px;
    background-color: red;
}
.button2{
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(207, 187, 4);
    border-radius: 10px;
}



/* menu */
.menu-cont{
    width: 100%;
}
.menu-text{
    font-size: 64px;
    text-align: center;
}
.card{
    width: 384px;
    height: 564px;
    background-color: #211a16;
    border-radius: 12px;
    padding: 40px;
    border: 0.5px solid #75757590;
}
.menu-button{
    width: 182px;
    height: 52px;
    background-color: rgb(213, 147, 5);
    border-radius: 10px 10px 10px 10px;
    border: none;
    color: #ffff;
    margin: 0 auto;
    margin-top: 15px;
}